*
!.gitignore
!app/
!artisan
!bootstrap/
!composer.json
!composer.lock
!config/
!database/
!lang/
!node_modules/
!package.json
!package-lock.json
!phpunit.xml
!public/
!README.md
!resources/
!routes/
!storage/
!tests/
!vendor/
!vite.config.js
